*,html{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body{
    font-weight: 400;
    background-color: rgb(232, 157, 157);
}

header{
    background-color: antiquewhite;
    width: 100vw;
    text-transform: capitalize;
    padding: 10px;
    box-shadow: -1px 10px 5px 0px rgba(212,144,144,0.75);
-webkit-box-shadow: -1px 10px 5px 0px rgba(212,144,144,0.75);
-moz-box-shadow: -1px 10px 5px 0px rgba(212,144,144,0.75);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 40vw;
    min-height: 70vh;
    padding: 30px;
    border-radius: 20px;
}


input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  
  input:focus {
    border: 3px solid #555;
    border-radius: 20px;
  }
h2{
    align-self: center;
    font-size: 1em;
}

h3{
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 10px;
}
p{
    font-size: 0.8em;
}

.addtodo{
    background-color: antiquewhite;
    padding: 20px;
    width: 35vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
}

.task-input{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.8rem;
}
.addtodo button{
    border: none;
    background-color: rgb(230, 125, 125);
    padding: 12px 25px;
    border-radius: 10px;
    width: 150px;
}

.addtodo button:hover{
    background-color: rgb(251, 221, 180);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}
.task{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 35vw;
    gap:1rem;
    border-radius: 20px;
    background-color: antiquewhite;
    box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(232, 157, 157);
    padding: 8px;
    border-radius: 10px;
    text-transform: capitalize;
    width: 350px;
    font-size: 0.8rem;
}

.task-item p{
    margin-left: 5px;
}



#TaskDone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    width: 35vw;
    border-radius: 20px;
    background-color: antiquewhite;
   box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 9px 98px -29px rgba(0,0,0,0.75);
}


.btn-icon{
    display: flex;
    gap: 0.5rem;
}

.btn-icon button .fa-trash:nth-child(1):hover{
 color: red;
}

.btn-icon button .fa-check:nth-child(1):hover{
 color: green;
}

.btn-icon button {
    border:none;
        background-color: rgb(232, 157, 157);
        color:black;

}

